{% extends '../base.html' %}
{% with True as messages_displace_content %}
{% endwith %}
{% load markdownify %}
{% load i18n %}
{% block content %}
<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-10 mx-auto border-bottom">
            <h2>{{ talk.title }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mx-auto pt-3">
            <div class="card border-dark">
                <div class="card-header h-50 p-2 pl-3">
                    <h4 class="mb-0"><i class="fas fa-info-circle"></i> {% trans "Info" %}</h4>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped table-bordered table-sm mb-0">
                        <tbody>
                            <tr>
                                <th scope="row">{% trans "Speaker’s name" %}</th>
                                <td>{{ talk.name }}</td>
                            </tr>
                            <tr class="{% if overdue %}table-danger{% endif %}">
                                <th scope="row">{% blocktrans %}Date{% endblocktrans %}</th>
                                <td>{{ talk.timestamp }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans "Collections" %}</th>
                                <td>
                                    <ul class="list-unstyled mb-0">
                                        {% for collection in talk.collections.all %}
                                            <li><a href="#">{{ collection.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">{% blocktrans %}Tags{% endblocktrans %}</th>
                                <td>{% for tag in talk.tags.all %}{% include 'snippets/tag.html' with tag=tag %}{% endfor %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-7 mx-auto pt-3">
            <div class="card border-dark">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                <i class="fab fa-readme"></i>
                                {% trans "Description" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="speaker-tab" data-toggle="tab" href="#speaker" role="tab" aria-controls="speaker" aria-selected="false">
                                <i class="fas fa-chalkboard-teacher"></i>
                                {% trans "Speaker’s about me" %}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content pt-2">
                    <div class="tab-pane active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                        <p class="md">{{ talk.description | escape | markdownify }}</p>
                    </div>
                    <div class="tab-pane" id="speaker" role="tabpanel" aria-labelledby="speaker-tab">
                        <p class="md">{{ talk.about_me | escape | markdownify }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}