{% extends '../base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-lg-8 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>{% trans 'Password reset request sent' %}</h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" href={% url "core:index" %}>{% trans 'Done' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}