{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Register' %}{% endblock %}

{% block content %}
<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-lg-8 col-sm-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h4>{% trans 'Register' %}</h4>
                </div>
                <div class="card-body">
                    <form id="registrationForm" method="post">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" type="submit" form="profileForm">{% trans 'Register' %}</button>
                    <div class="float-right">
                        <span class="text-muted">Already have an account?&nbsp;<i class="fas fa-angle-double-right"></i></span>
                        <a class="btn btn-outline-secondary" href="{% url 'users:login' %}">{% trans 'Login' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}