{% extends "account/base_with_footer.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block card_title %}{% trans "Sign In" %}{% endblock %}

{% block card_body %}
<form id="loginForm" class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
</form>
{% endblock %}

{% block card_footer %}
  <button class="primaryAction btn btn-primary" type="submit" form="loginForm">{% trans "Sign In" %}</button>
  <a class="btn text-muted secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <div class="text-muted float-right">
    <small>Don't have an account? &raquo;</small>&nbsp;&nbsp;
    <a class="btn btn-secondary" href="{{ signup_url }}">{% trans "Sign up" %}</a>
  </div>
{% endblock %}

