{% extends "account/base_with_footer.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block card_title %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}{% endblock %}

{% block card_body %}
    {% if token_fail %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a new password reset.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form id="changeForm" method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}

{% block card_footer %}
    {% if token_fail %}
        <a class="btn btn-primary" href="{% url 'account_reset_password' %}">{% trans "Request new reset"%}</a>
    {% else %}
        {% if form %}
            <button class="primaryAction btn btn-primary" type="submit" form="changeForm">{% trans "Change password" %}</button>
        {% endif %}
    {% endif %}
{% endblock %}

